.button{
    border: 0.5px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    background-color: #FFF;
    padding: 6px 15px;
    font-size: var(--font-xsmall);
    cursor: pointer;
    margin: 2px;
}
.button:disabled{
    cursor: not-allowed;
}
.button--theme{
    background-color: var(--first-color);
    color: var(--second-color);
    border: none;
}
.button--theme:hover{
    color: var(--text-color);
}
.button--rev-theme{
    background-color: var(--second-color);
    color: var(--first-color);
    border: 0.5px solid var(--first-color) !important;
}
.button--rev-theme:hover{
    color: var(--text-color);
}